ApegueseAPP/app/src/main/AndroidManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="manifest" type="manifestType"/>
  <xs:complexType name="intent-filterType">
    <xs:sequence>
      <xs:element type="actionType" name="action"/>
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="dataType" name="data" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter"/>
    </xs:sequence>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="meta-dataType" name="meta-data" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.  Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="activityType" name="activity" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:allowBackup" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:hardwareAccelerated" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:icon" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:largeHeap" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:roundIcon" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:supportsRtl" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="meta-dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:resource" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:value" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="uses-permissionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:scheme" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="manifestType">
    <xs:sequence>
      <xs:element type="uses-permissionType" name="uses-permission" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>permissões para internet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="applicationType" name="application"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="package"/>
  </xs:complexType>
  <xs:complexType name="activityType" mixed="true">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:configChanges" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:exported" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:parentActivityName" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
</xs:schema>